.info-card {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 12px;
}


.info-card-content {
  z-index: 1;
}

.info-card .button {
  display: inline-block;
  margin-top: 16px;
  background-color: #00647D;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.info-card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
}


.info-card-image picture,
.info-card-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}